Repository josegarciadev/c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Added example layout with home
  src/App.js
  src/components/footer/index.js
  src/components/header/index.js
  src/components/home/index.js
  src/components/layout/LayoutPublic.js
  src/containers/test.js
  src/index.js
  src/reportWebVitals.js
Due: eslint --fix, prettier --write

removed web vitals
  src/index.js
Due: eslint --fix, prettier --write

Changes in header
  src/App.css
  src/components/footer/index.js
  src/components/header/header.jsx
  src/components/header/index.js
  src/components/header/undraw_experience_design_re_dmqq.svg
  src/components/header/undraw_work_time_re_hdyv.svg
  src/components/home/index.js
  src/components/home/index.jsx
  src/components/layout/LayoutPublic.jsx
  src/containers/Test.jsx
  src/index.js
Due: eslint --fix, prettier --write

Changes in img
  src/assets/images/undraw_work_time_re_hdyv.svg
  src/components/header/undraw_experience_design_re_dmqq.svg
  src/components/home/index.jsx
  src/containers/Test.jsx
  src/index.js
Due: eslint --fix, prettier --write

Layout Options created
  src/App.css
  src/App.js
  src/assets/images/undraw_experience_design_re_dmqq.svg
  src/assets/images/undraw_work_time_re_hdyv.svg
  src/components/Options/CardItem.jsx
  src/components/Options/Cards.jsx
  src/components/Options/Options.jsx
  src/components/header/headerGlobal.jsx
  src/components/home/index.jsx
  src/components/layout/LayoutOptions.jsx
  src/containers/Test.jsx
  src/index.css
  src/index.js
  src/logo.svg
Due: eslint --fix, prettier --write

added col-12 and col-md
  src/components/Options/CardItem.jsx
  src/index.js
  yarn.lock
Due: eslint --fix, prettier --write

commit anthony
  src/components/Options/CardItem.jsx
Due: none

delete cards
  public/index.html
  src/components/Options/CardItem.jsx
  src/components/Options/Cards.jsx
  src/components/Options/Options.jsx
  src/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Add icons and chance cards
  package.json
  src/App.css
  src/components/Options/CardItem.jsx
  src/components/Options/Options.jsx
  yarn.lock
Due: prettier --write

Created footer
  src/App.css
  src/components/Options/Options.jsx
  src/components/footer/index.js
  src/components/layout/LayoutOptions.jsx
Due: eslint --fix, prettier --write

test anthony
  src/components/home/index.jsx
Due: none

Changes in header, and margin in list
  src/App.css
  src/components/Options/CardItem.jsx
  src/components/Options/Options.jsx
  src/components/footer/index.js
  src/components/header/headerGlobal.jsx
Due: eslint --fix, prettier --write

Create formCreateAccout
  src/App.css
  src/components/CreateAccount/CreateForm.jsx
  src/components/Options/Options.jsx
  src/components/header/header.jsx
  src/components/header/headerGlobal.jsx
  src/components/layout/LayoutCreateAccount.jsx
  src/containers/Test.jsx
Due: prettier --write

Responsive Form
  src/App.css
  src/components/CreateAccount/CreateForm.jsx
  src/components/footer/index.js
Due: eslint --fix, prettier --write

Responsive in options
  src/components/Options/CardItem.jsx
  src/components/Options/Options.jsx
  src/containers/Test.jsx
Due: none

FormLogin Created
  src/components/LoginUser/LoginForm.jsx
  src/components/layout/LayoutLogin.jsx
  src/containers/Test.jsx
Due: none

Create UserRegistter
  src/App.css
  src/components/CreateUser/CreateUser.jsx
  src/components/FormCheckArea/CheckArea.jsx
  src/components/LoginUser/LoginForm.jsx
  src/components/layout/LayoutCheckArea.jsx
  src/components/layout/LayoutCreateUser.jsx
  src/containers/Test.jsx
Due: prettier --write

Created 1/2 CheckArea
  src/components/FormCheckArea/CheckArea.jsx
Due: none

Changes in CheckArea
  src/components/FormCheckArea/CheckArea.jsx
Due: none

Responsive CheckArea
  src/components/FormCheckArea/CheckArea.jsx
Due: none

TextArea Layout created
  src/components/FormCheckArea/CheckArea.jsx
  src/components/Text-Area/Text-Area.jsx
  src/components/layout/LayoutTextArea.jsx
  src/containers/Test.jsx
Due: none

Changes in textArea
  src/components/Text-Area/Text-Area.jsx
Due: none

More changes
  src/components/Text-Area/Text-Area.jsx
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,md,css,html,yml}
